{"openapi":"3.0.3","info":{"description":"Prolibu API documentation.","version":"4.2.3","title":"Prolibu  API"},"servers":[{"url":"https://dev10.prolibu.com","description":"Server API"}],"paths":{"/v2/auth/signin":{"get":{"summary":"Auth signinView (mod.system)","tags":["auth"],"operationId":"signinView-Auth","responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"Auth signin (mod.system)","tags":["auth"],"operationId":"signin-Auth","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"User email","example":"jdoe@acme.com"},"password":{"type":"string","description":"User password","example":"Shox009_"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"apiKey":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/401"}}}},"/v2/auth/signout":{"delete":{"summary":"Auth signout (mod.system)","tags":["auth"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"signout-Auth","responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"OK response message"}}}}}},"401":{"$ref":"#/components/responses/401"},"404":{"$ref":"#/components/responses/404"}}}},"/v2/auth/forgot":{"get":{"summary":"Auth forgotView (mod.system)","tags":["auth"],"operationId":"forgotView-Auth","responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/auth/passwordreset":{"get":{"summary":"Auth passwordResetView (mod.system)","tags":["auth"],"operationId":"passwordResetView-Auth","parameters":[{"name":"code","in":"query","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"Auth passwordReset (mod.system)","tags":["auth"],"operationId":"passwordReset-Auth","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"User email","example":"jdoe@acme.com"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"OK response message"}}}}}},"404":{"$ref":"#/components/responses/404"}}},"put":{"summary":"Auth changePassword (mod.system)","tags":["auth"],"operationId":"changePassword-Auth","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"code","example":"xxxxxxxxxx"},"password":{"type":"string","description":"New password","example":"Shox009_"},"confirmPassword":{"type":"string","description":"New password confirmed","example":"Shox009_"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"OK response message"}}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/v2/auth/passwordreset/success/":{"get":{"summary":"Auth setPasswordResetSuccessView (mod.system)","tags":["auth"],"operationId":"setPasswordResetSuccessView-Auth","responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/authenticationrule/search":{"get":{"summary":"AuthenticationRule search (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"search-AuthenticationRule","parameters":[{"name":"term","in":"query","schema":{"type":"string"},"required":true,"description":"AuthenticationRule Search term in fields: (authenticationRuleCode, authenticationRuleName)","example":"Lorem ipsum"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/authenticationrule/{authenticationRuleCode}":{"get":{"summary":"AuthenticationRule findOne (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"findOne-AuthenticationRule","parameters":[{"name":"authenticationRuleCode","in":"path","schema":{"type":"string"},"required":true,"description":"'authenticationRuleCode' of the'AuthenticationRule' to retrive."},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"},"allowedDomains":{"type":"array","items":{"type":"string"},"description":"Domains to match","example":"example.com"},"allowedEmails":{"type":"array","items":{"type":"string"},"description":"Emails to match"},"inherit.roles":{"type":"object","description":"Roles to assign"},"inherit.workspace":{"type":"object","description":"Workspace to assign"},"inherit.company":{"type":"object","description":"Company to assign"},"active":{"type":"boolean","example":true}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"patch":{"summary":"AuthenticationRule update (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"update-AuthenticationRule","parameters":[{"name":"authenticationRuleCode","in":"path","schema":{"type":"string"},"required":true,"description":"'authenticationRuleCode' of the'AuthenticationRule' to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"},"allowedDomains":{"type":"array","items":{"type":"string"},"description":"Domains to match","example":"example.com"},"allowedEmails":{"type":"array","items":{"type":"string"},"description":"Emails to match"},"inherit.roles":{"type":"object","description":"Roles to assign"},"inherit.workspace":{"type":"object","description":"Workspace to assign"},"inherit.company":{"type":"object","description":"Company to assign"},"active":{"type":"boolean","example":true}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"},"allowedDomains":{"type":"array","items":{"type":"string"},"description":"Domains to match","example":"example.com"},"allowedEmails":{"type":"array","items":{"type":"string"},"description":"Emails to match"},"inherit.roles":{"type":"object","description":"Roles to assign"},"inherit.workspace":{"type":"object","description":"Workspace to assign"},"inherit.company":{"type":"object","description":"Company to assign"},"active":{"type":"boolean","example":true}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"delete":{"summary":"AuthenticationRule delete (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"delete-AuthenticationRule","parameters":[{"name":"authenticationRuleCode","in":"path","schema":{"type":"string"},"required":true,"description":"'authenticationRuleCode' of the'AuthenticationRule' to delete."}],"responses":{"204":{"description":"No content"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/authenticationrule/":{"get":{"summary":"AuthenticationRule find (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"find-AuthenticationRule","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."},{"name":"exportData","in":"query","schema":{"type":"boolean"},"description":"Export results"},{"name":"format","in":"query","schema":{"type":"string","enum":["json","yaml","xlsx","csv","pretty","qr"]},"description":"Supported formats to export data"},{"name":"_id","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"createdAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"updatedAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was last updated."},{"name":"createdBy","in":"query","schema":{"type":"string"},"description":"The user who created the document."},{"name":"updatedBy","in":"query","schema":{"type":"string"},"description":"The user who last updated the document."},{"name":"workspace","in":"query","schema":{"type":"string"},"description":"The workspace the document belongs to."},{"name":"authenticationRuleCode","in":"query","schema":{"type":"string"},"description":"Unique keyname used as ID","example":"example-keyname","x-primaryKey":true,"x-textIndex":true,"x-unique":true},{"name":"authenticationRuleName","in":"query","schema":{"type":"string"},"x-textIndex":true,"x-displayName":true},{"name":"allowedDomains","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"Domains to match","example":"example.com"},{"name":"allowedEmails","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"Emails to match"},{"name":"inherit.roles","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"Roles to assign"},{"name":"inherit.workspace","in":"query","schema":{"type":"string"},"description":"Workspace to assign"},{"name":"inherit.company","in":"query","schema":{"type":"string"},"description":"Company to assign"},{"name":"active","in":"query","schema":{"type":"boolean"},"example":true}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"AuthenticationRule create (mod.system)","tags":["authenticationrule"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"create-AuthenticationRule","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"},"allowedDomains":{"type":"array","items":{"type":"string"},"description":"Domains to match","example":"example.com"},"allowedEmails":{"type":"array","items":{"type":"string"},"description":"Emails to match"},"inherit.roles":{"type":"object","description":"Roles to assign"},"inherit.workspace":{"type":"object","description":"Workspace to assign"},"inherit.company":{"type":"object","description":"Company to assign"},"active":{"type":"boolean","example":true}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"authenticationRuleCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"authenticationRuleName":{"type":"string"},"allowedDomains":{"type":"array","items":{"type":"string"},"description":"Domains to match","example":"example.com"},"allowedEmails":{"type":"array","items":{"type":"string"},"description":"Emails to match"},"inherit.roles":{"type":"object","description":"Roles to assign"},"inherit.workspace":{"type":"object","description":"Workspace to assign"},"inherit.company":{"type":"object","description":"Company to assign"},"active":{"type":"boolean","example":true}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/category/":{"get":{"summary":"Category find (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":["authGranted"],"bearerKeyQuery":["authGranted"],"oauth2":["authGranted"]}],"operationId":"find-Category","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."},{"name":"exportData","in":"query","schema":{"type":"boolean"},"description":"Export results"},{"name":"format","in":"query","schema":{"type":"string","enum":["json","yaml","xlsx","csv","pretty","qr"]},"description":"Supported formats to export data"},{"name":"_id","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"createdAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"updatedAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was last updated."},{"name":"createdBy","in":"query","schema":{"type":"string"},"description":"The user who created the document."},{"name":"updatedBy","in":"query","schema":{"type":"string"},"description":"The user who last updated the document."},{"name":"workspace","in":"query","schema":{"type":"string"},"description":"The workspace the document belongs to."},{"name":"categoryCode","in":"query","schema":{"type":"string"},"description":"Unique keyname used as ID","example":"example-keyname","x-primaryKey":true,"x-textIndex":true,"x-unique":true},{"name":"categoryName","in":"query","schema":{"type":"string"},"x-textIndex":true,"x-displayName":true},{"name":"description","in":"query","schema":{"type":"string"},"example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","x-textIndex":true},{"name":"categoryType","in":"query","schema":{"type":"string"},"example":"Company.industry","x-textIndex":true},{"name":"parent","in":"query","schema":{"type":"string"},"example":"dad-category"},{"name":"color","in":"query","schema":{"type":"string"}},{"name":"active","in":"query","schema":{"type":"boolean"},"example":true},{"name":"lang","in":"query","schema":{"type":"object"},"example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"Category create (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"create-Category","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"},"parent":{"type":"object","example":"dad-category"},"color":{"type":"string"},"active":{"type":"boolean","example":true},"lang":{"type":"object","example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"},"parent":{"type":"object","example":"dad-category"},"color":{"type":"string"},"active":{"type":"boolean","example":true},"lang":{"type":"object","example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/category/search":{"get":{"summary":"Category search (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":["authGranted"],"bearerKeyQuery":["authGranted"],"oauth2":["authGranted"]}],"operationId":"search-Category","parameters":[{"name":"term","in":"query","schema":{"type":"string"},"required":true,"description":"Category Search term in fields: (categoryCode, categoryName, description, categoryType)","example":"Lorem ipsum"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/category/{categoryCode}":{"get":{"summary":"Category findOne (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"findOne-Category","parameters":[{"name":"categoryCode","in":"path","schema":{"type":"string"},"required":true,"description":"'categoryCode' of the'Category' to retrive."},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"},"parent":{"type":"object","example":"dad-category"},"color":{"type":"string"},"active":{"type":"boolean","example":true},"lang":{"type":"object","example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"patch":{"summary":"Category update (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"update-Category","parameters":[{"name":"categoryCode","in":"path","schema":{"type":"string"},"required":true,"description":"'categoryCode' of the'Category' to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"},"parent":{"type":"object","example":"dad-category"},"color":{"type":"string"},"active":{"type":"boolean","example":true},"lang":{"type":"object","example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"categoryCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"categoryName":{"type":"string"},"description":{"type":"string","example":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."},"categoryType":{"type":"string","example":"Company.industry"},"parent":{"type":"object","example":"dad-category"},"color":{"type":"string"},"active":{"type":"boolean","example":true},"lang":{"type":"object","example":{"es":{"stageName":"Nuevo"},"pt":{"stageName":"Novo"},"fr":{"stageName":"Nouveau"}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"delete":{"summary":"Category delete (mod.system)","tags":["category"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"delete-Category","parameters":[{"name":"categoryCode","in":"path","schema":{"type":"string"},"required":true,"description":"'categoryCode' of the'Category' to delete."}],"responses":{"204":{"description":"No content"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/comment/search":{"get":{"summary":"Comment search (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"search-Comment","parameters":[{"name":"term","in":"query","schema":{"type":"string"},"required":true,"description":"Comment Search term in fields: (commentCode)","example":"Lorem ipsum"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/comment/{commentCode}":{"get":{"summary":"Comment findOne (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"findOne-Comment","parameters":[{"name":"commentCode","in":"path","schema":{"type":"string"},"required":true,"description":"'commentCode' of the'Comment' to retrive."},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"patch":{"summary":"Comment update (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"update-Comment","parameters":[{"name":"commentCode","in":"path","schema":{"type":"string"},"required":true,"description":"'commentCode' of the'Comment' to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object","format":"binary"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"delete":{"summary":"Comment delete (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"delete-Comment","parameters":[{"name":"commentCode","in":"path","schema":{"type":"string"},"required":true,"description":"'commentCode' of the'Comment' to delete."}],"responses":{"204":{"description":"No content"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/comment/":{"get":{"summary":"Comment find (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"find-Comment","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."},{"name":"exportData","in":"query","schema":{"type":"boolean"},"description":"Export results"},{"name":"format","in":"query","schema":{"type":"string","enum":["json","yaml","xlsx","csv","pretty","qr"]},"description":"Supported formats to export data"},{"name":"_id","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"createdAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"updatedAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was last updated."},{"name":"createdBy","in":"query","schema":{"type":"string"},"description":"The user who created the document."},{"name":"updatedBy","in":"query","schema":{"type":"string"},"description":"The user who last updated the document."},{"name":"workspace","in":"query","schema":{"type":"string"},"description":"The workspace the document belongs to."},{"name":"commentCode","in":"query","schema":{"type":"string"},"description":"Unique keyname used as ID","example":"example-keyname","x-primaryKey":true,"x-textIndex":true,"x-unique":true},{"name":"content","in":"query","schema":{"type":"string"}},{"name":"contentText","in":"query","schema":{"type":"string"}},{"name":"attachments","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"origin.modelName","in":"query","schema":{"type":"string"}},{"name":"origin.docId","in":"query","schema":{"type":"string"}},{"name":"generatedByTicketSubmit","in":"query","schema":{"type":"boolean"}},{"name":"commentByContact","in":"query","schema":{"type":"string"}},{"name":"ccRecipients","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"Comment create (mod.system)","tags":["comment"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"create-Comment","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object","format":"binary"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"commentCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"content":{"type":"string"},"contentText":{"type":"string"},"attachments":{"type":"object"},"origin.modelName":{"type":"string"},"origin.docId":{"type":"string"},"generatedByTicketSubmit":{"type":"boolean"},"commentByContact":{"type":"object"},"ccRecipients":{"type":"array","items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/confirmationcode/confirm":{"get":{"summary":"ConfirmationCode confirmView (mod.system)","tags":["confirmationcode"],"operationId":"confirmView-ConfirmationCode","responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"put":{"summary":"ConfirmationCode confirm (mod.system)","tags":["confirmationcode"],"operationId":"confirm-ConfirmationCode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Code to confirm","example":"ARD3C1"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"OK response message"}}}}}},"404":{"$ref":"#/components/responses/404"}}}},"/v2/confirmationcode/search":{"get":{"summary":"ConfirmationCode search (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"search-ConfirmationCode","parameters":[{"name":"term","in":"query","schema":{"type":"string"},"required":true,"description":"Webhook Search term in fields: (webhookCode, webhookName)","example":"Lorem ipsum"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"webhookCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"webhookName":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/confirmationcode/":{"get":{"summary":"ConfirmationCode find (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"find-ConfirmationCode","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."},{"name":"exportData","in":"query","schema":{"type":"boolean"},"description":"Export results"},{"name":"format","in":"query","schema":{"type":"string","enum":["json","yaml","xlsx","csv","pretty","qr"]},"description":"Supported formats to export data"},{"name":"_id","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"createdAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"updatedAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was last updated."},{"name":"createdBy","in":"query","schema":{"type":"string"},"description":"The user who created the document."},{"name":"updatedBy","in":"query","schema":{"type":"string"},"description":"The user who last updated the document."},{"name":"workspace","in":"query","schema":{"type":"string"},"description":"The workspace the document belongs to."},{"name":"type","in":"query","schema":{"type":"string","enum":["Sign Document","Password Reset","Sign Up Form","Email Confirmation","API"]},"description":"The type of confirmation code.","example":"Password Reset"},{"name":"code","in":"query","schema":{"type":"string"},"description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3","x-textIndex":true,"x-displayName":true,"x-unique":true},{"name":"user","in":"query","schema":{"type":"string"},"description":"A reference to the user who requested the confirmation code."},{"name":"whatsapp","in":"query","schema":{"type":"string"},"description":"Whatsapp number of the user who requested the confirmation code."},{"name":"email","in":"query","schema":{"type":"string"},"description":"Email of the user who requested the confirmation code."},{"name":"expirationDate","in":"query","schema":{"type":"string"},"description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},{"name":"confirmedAt","in":"query","schema":{"type":"string"},"description":"The date and time when the confirmation code was used."},{"name":"used","in":"query","schema":{"type":"boolean"},"description":"The date and time when the confirmation code was used."},{"name":"usedAt","in":"query","schema":{"type":"string"},"description":"The date and time when the confirmation code was used."},{"name":"lng","in":"query","schema":{"type":"string"},"example":"en"},{"name":"redirectUrl","in":"query","schema":{"type":"string"}},{"name":"headers","in":"query","schema":{"type":"object"},"description":"Date of verification"}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"webhookCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"webhookName":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"ConfirmationCode create (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"create-ConfirmationCode","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"code":{"type":"string","description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3"},"user":{"type":"object","description":"A reference to the user who requested the confirmation code."},"whatsapp":{"type":"string","description":"Whatsapp number of the user who requested the confirmation code."},"email":{"type":"string","description":"Email of the user who requested the confirmation code."},"expirationDate":{"type":"string","description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},"confirmedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"used":{"type":"boolean","description":"The date and time when the confirmation code was used."},"usedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"lng":{"type":"string","example":"en"},"redirectUrl":{"type":"string"},"headers":{"type":"object","description":"Date of verification"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"type":{"type":"string","description":"The type of confirmation code.","example":"Password Reset"},"code":{"type":"string","description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3"},"user":{"type":"object","description":"A reference to the user who requested the confirmation code."},"whatsapp":{"type":"string","description":"Whatsapp number of the user who requested the confirmation code."},"email":{"type":"string","description":"Email of the user who requested the confirmation code."},"expirationDate":{"type":"string","description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},"confirmedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"used":{"type":"boolean","description":"The date and time when the confirmation code was used."},"usedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"lng":{"type":"string","example":"en"},"redirectUrl":{"type":"string"},"headers":{"type":"object","description":"Date of verification"}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/confirmationcode/{_id}":{"get":{"summary":"ConfirmationCode findOne (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"findOne-ConfirmationCode","parameters":[{"name":"_id","in":"path","schema":{"type":"string"},"required":true,"description":"'_id' of the'ConfirmationCode' to retrive."},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"type":{"type":"string","description":"The type of confirmation code.","example":"Password Reset"},"code":{"type":"string","description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3"},"user":{"type":"object","description":"A reference to the user who requested the confirmation code."},"whatsapp":{"type":"string","description":"Whatsapp number of the user who requested the confirmation code."},"email":{"type":"string","description":"Email of the user who requested the confirmation code."},"expirationDate":{"type":"string","description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},"confirmedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"used":{"type":"boolean","description":"The date and time when the confirmation code was used."},"usedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"lng":{"type":"string","example":"en"},"redirectUrl":{"type":"string"},"headers":{"type":"object","description":"Date of verification"}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"patch":{"summary":"ConfirmationCode update (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"update-ConfirmationCode","parameters":[{"name":"_id","in":"path","schema":{"type":"string"},"required":true,"description":"'_id' of the'ConfirmationCode' to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"code":{"type":"string","description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3"},"user":{"type":"object","description":"A reference to the user who requested the confirmation code."},"whatsapp":{"type":"string","description":"Whatsapp number of the user who requested the confirmation code."},"email":{"type":"string","description":"Email of the user who requested the confirmation code."},"expirationDate":{"type":"string","description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},"confirmedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"used":{"type":"boolean","description":"The date and time when the confirmation code was used."},"usedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"lng":{"type":"string","example":"en"},"redirectUrl":{"type":"string"},"headers":{"type":"object","description":"Date of verification"}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"type":{"type":"string","description":"The type of confirmation code.","example":"Password Reset"},"code":{"type":"string","description":"A unique 6-digit code used for confirmation purposes.","example":"A2C1C3"},"user":{"type":"object","description":"A reference to the user who requested the confirmation code."},"whatsapp":{"type":"string","description":"Whatsapp number of the user who requested the confirmation code."},"email":{"type":"string","description":"Email of the user who requested the confirmation code."},"expirationDate":{"type":"string","description":"The date and time when the confirmation code will expire.","example":"2025-12-31T23:59:59.999Z"},"confirmedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"used":{"type":"boolean","description":"The date and time when the confirmation code was used."},"usedAt":{"type":"string","description":"The date and time when the confirmation code was used."},"lng":{"type":"string","example":"en"},"redirectUrl":{"type":"string"},"headers":{"type":"object","description":"Date of verification"}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"delete":{"summary":"ConfirmationCode delete (mod.system)","tags":["confirmationcode"],"security":[{"bearerKeyHeader":["onlyAdmins"],"bearerKeyQuery":["onlyAdmins"],"oauth2":["onlyAdmins"]}],"operationId":"delete-ConfirmationCode","parameters":[{"name":"_id","in":"path","schema":{"type":"string"},"required":true,"description":"'_id' of the'ConfirmationCode' to delete."}],"responses":{"204":{"description":"No content"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/updatefigma/{id}":{"get":{"summary":"ContentTemplate updateFigma (mod.system)","tags":["contenttemplate"],"operationId":"updateFigma-ContentTemplate","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"figmaObject":{"type":"object"}}}}}},"responses":{"200":{"description":"Return a JSON object","content":{"application/javascript":{"schema":{"type":"object"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/view/{id}":{"get":{"summary":"ContentTemplate view (mod.system)","tags":["contenttemplate"],"operationId":"view-ContentTemplate","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/prepareimport":{"get":{"summary":"ContentTemplate prepareImportView (mod.system)","tags":["contenttemplate"],"operationId":"prepareImportView-ContentTemplate","parameters":[{"name":"url","in":"query","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/defaultlayout":{"get":{"summary":"ContentTemplate defaultLayout (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":["authGranted"],"bearerKeyQuery":["authGranted"],"oauth2":["authGranted"]}],"operationId":"defaultLayout-ContentTemplate","responses":{"200":{"description":"Return HTML","content":{"text/html":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/import":{"put":{"summary":"ContentTemplate import (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"import-ContentTemplate","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"figmaUrl":{"type":"string"}}}}}},"responses":{"200":{"description":"Return a JSON object","content":{"application/javascript":{"schema":{"type":"object"}}}},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/search":{"get":{"summary":"ContentTemplate search (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"search-ContentTemplate","parameters":[{"name":"term","in":"query","schema":{"type":"string"},"required":true,"description":"ContentTemplate Search term in fields: (contentTemplateCode, contentTemplateName)","example":"Lorem ipsum"},{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/{contentTemplateCode}":{"get":{"summary":"ContentTemplate findOne (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"findOne-ContentTemplate","parameters":[{"name":"contentTemplateCode","in":"path","schema":{"type":"string"},"required":true,"description":"'contentTemplateCode' of the'ContentTemplate' to retrive."},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"cover":{"type":"object","description":"The cover image of the template"},"assets":{"type":"object","description":"The assets of the template"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"object","description":"Default layout coming from the creator's workspace"},"defaultLayout.company":{"type":"object","description":"Default layout coming from the creator's company"},"figma.url":{"type":"string","description":"The URL of the Figma file used for the template"},"figma.fileId":{"type":"string","description":"The Figma file ID used for the template"},"figma.nodeId":{"type":"string","description":"The Figma node ID used for the template"},"figma.pagePreviews":{"type":"object","description":"The thumbnail images of the Figma frames"},"figma.updateResources":{"type":"boolean","description":"If set to true, updates pagePreviews and assets."},"assignee":{"type":"object"},"collaborators":{"type":"object"},"tags":{"type":"object"},"publishInGallery":{"type":"boolean","description":"Indicates if the template is published in the library"},"meta":{"type":"object","description":"Metadata asociated to template."}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"patch":{"summary":"ContentTemplate update (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"update-ContentTemplate","parameters":[{"name":"contentTemplateCode","in":"path","schema":{"type":"string"},"required":true,"description":"'contentTemplateCode' of the'ContentTemplate' to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"assets":{"type":"object","description":"The assets of the template"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"object","description":"Default layout coming from the creator's workspace"},"defaultLayout.company":{"type":"object","description":"Default layout coming from the creator's company"},"figma.url":{"type":"string","description":"The URL of the Figma file used for the template"},"figma.updateResources":{"type":"boolean","description":"If set to true, updates pagePreviews and assets."},"assignee":{"type":"object"},"collaborators":{"type":"object"},"tags":{"type":"object"},"publishInGallery":{"type":"boolean","description":"Indicates if the template is published in the library"},"meta":{"type":"object","description":"Metadata asociated to template."}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"assets":{"type":"object","description":"The assets of the template","format":"binary"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer","format":"binary"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"object","description":"Default layout coming from the creator's workspace"},"defaultLayout.company":{"type":"object","description":"Default layout coming from the creator's company"},"figma.url":{"type":"string","description":"The URL of the Figma file used for the template"},"figma.updateResources":{"type":"boolean","description":"If set to true, updates pagePreviews and assets."},"assignee":{"type":"object"},"collaborators":{"type":"object"},"tags":{"type":"object"},"publishInGallery":{"type":"boolean","description":"Indicates if the template is published in the library"},"meta":{"type":"object","description":"Metadata asociated to template."}}}}}},"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string","description":"The date and time the document was created."},"createdAt":{"type":"string","description":"The date and time the document was created."},"updatedAt":{"type":"string","description":"The date and time the document was last updated."},"createdBy":{"type":"object","description":"The user who created the document."},"updatedBy":{"type":"object","description":"The user who last updated the document."},"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"cover":{"type":"object","description":"The cover image of the template"},"assets":{"type":"object","description":"The assets of the template"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"object","description":"Default layout coming from the creator's workspace"},"defaultLayout.company":{"type":"object","description":"Default layout coming from the creator's company"},"figma.url":{"type":"string","description":"The URL of the Figma file used for the template"},"figma.fileId":{"type":"string","description":"The Figma file ID used for the template"},"figma.nodeId":{"type":"string","description":"The Figma node ID used for the template"},"figma.pagePreviews":{"type":"object","description":"The thumbnail images of the Figma frames"},"figma.updateResources":{"type":"boolean","description":"If set to true, updates pagePreviews and assets."},"assignee":{"type":"object"},"collaborators":{"type":"object"},"tags":{"type":"object"},"publishInGallery":{"type":"boolean","description":"Indicates if the template is published in the library"},"meta":{"type":"object","description":"Metadata asociated to template."}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"delete":{"summary":"ContentTemplate delete (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"delete-ContentTemplate","parameters":[{"name":"contentTemplateCode","in":"path","schema":{"type":"string"},"required":true,"description":"'contentTemplateCode' of the'ContentTemplate' to delete."}],"responses":{"204":{"description":"No content"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}}},"/v2/contenttemplate/":{"get":{"summary":"ContentTemplate find (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"find-ContentTemplate","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify which page of the dataset to return.","example":1},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1},"description":"Specify maximun documents per response.","example":20},{"name":"select","in":"query","schema":{"type":"string"},"description":"This parameter specifies the fields to include or exclude from the search results. Pass in a string with the field names separated by spaces. Use \"-\" for exclusion."},{"name":"populate","in":"query","schema":{"type":"string"},"description":"Pass in a string with the field names to populate, separated by spaces."},{"name":"xquery","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to filter the results."},{"name":"xflag","in":"query","schema":{"type":"string"},"description":"Stringified JSON object for custom flags."},{"name":"populatePath","in":"query","schema":{"type":"string"},"description":"Stringified JSON object to populate the results."},{"name":"sort","in":"query","schema":{"type":"string"},"description":"Sort the results by the specified field."},{"name":"outputFormat","in":"query","schema":{"type":"string"},"description":"Custom output format for the response."},{"name":"sum","in":"query","schema":{"type":"string"},"description":"Sum the results by the specified field."},{"name":"exportData","in":"query","schema":{"type":"boolean"},"description":"Export results"},{"name":"format","in":"query","schema":{"type":"string","enum":["json","yaml","xlsx","csv","pretty","qr"]},"description":"Supported formats to export data"},{"name":"_id","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"createdAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was created."},{"name":"updatedAt","in":"query","schema":{"type":"string"},"description":"The date and time the document was last updated."},{"name":"createdBy","in":"query","schema":{"type":"string"},"description":"The user who created the document."},{"name":"updatedBy","in":"query","schema":{"type":"string"},"description":"The user who last updated the document."},{"name":"workspace","in":"query","schema":{"type":"string"},"description":"The workspace the document belongs to."},{"name":"contentTemplateCode","in":"query","schema":{"type":"string"},"description":"Unique keyname used as ID","example":"example-keyname","x-primaryKey":true,"x-textIndex":true,"x-unique":true},{"name":"contentTemplateName","in":"query","schema":{"type":"string"},"example":"ContentTemplate example","x-textIndex":true,"x-displayName":true},{"name":"templateType","in":"query","schema":{"type":"string","enum":["layout","content","snippet"]}},{"name":"pages","in":"query","schema":{"type":"array","items":{"type":"object"}}},{"name":"html","in":"query","schema":{"type":"string"}},{"name":"cover","in":"query","schema":{"type":"string"},"description":"The cover image of the template"},{"name":"assets","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"The assets of the template"},{"name":"defaultFont","in":"query","schema":{"type":"string"},"description":"The default font of the template"},{"name":"secondaryFont","in":"query","schema":{"type":"string"},"description":"The default font of the template"},{"name":"embeddedFonts","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"Embedded fonts that will be available in the template editor and viewer"},{"name":"taxonomy.language","in":"query","schema":{"type":"string","enum":["ar","zh","zh-TW","cs","da","nl","en","fi","fr","de","el","hi","hu","id","it","ja","ko","ms","no","pl","pt","ro","ru","es","sv","th","tr","uk","vi"]}},{"name":"taxonomy.category","in":"query","schema":{"type":"string"},"description":"The category of the template"},{"name":"defaultLayout.origin","in":"query","schema":{"type":"string","enum":["User Primary Workspace","User Company","Global Layout"]},"description":"Specifies the source of the default layout"},{"name":"defaultLayout.primaryWorkspace","in":"query","schema":{"type":"string"},"description":"Default layout coming from the creator's workspace"},{"name":"defaultLayout.company","in":"query","schema":{"type":"string"},"description":"Default layout coming from the creator's company"},{"name":"figma.url","in":"query","schema":{"type":"string"},"description":"The URL of the Figma file used for the template"},{"name":"figma.fileId","in":"query","schema":{"type":"string"},"description":"The Figma file ID used for the template"},{"name":"figma.nodeId","in":"query","schema":{"type":"string"},"description":"The Figma node ID used for the template"},{"name":"figma.pagePreviews","in":"query","schema":{"type":"array","items":{"type":"string"}},"description":"The thumbnail images of the Figma frames"},{"name":"figma.updateResources","in":"query","schema":{"type":"boolean"},"description":"If set to true, updates pagePreviews and assets."},{"name":"assignee","in":"query","schema":{"type":"string"}},{"name":"collaborators","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"tags","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"publishInGallery","in":"query","schema":{"type":"boolean"},"description":"Indicates if the template is published in the library"},{"name":"meta","in":"query","schema":{"type":"object"},"description":"Metadata asociated to template."}],"responses":{"200":{"description":"Return an object","content":{"application/json":{"schema":{"type":"object","properties":{"timeMs":{"type":"number","example":16.32999897003174},"pagination":{"type":"object","description":"Pagination information for the returned documents","properties":{"count":{"type":"integer","description":"The number of documents returned in this response","example":5},"page":{"type":"integer","description":"The current page number","example":1},"limit":{"type":"integer","description":"The maximum number of documents that can be returned per page","example":10},"lastPage":{"type":"integer","description":"The last page number","example":1},"startIndex":{"type":"integer","description":"The starting index of the documents returned in this response","example":0}}},"docs":{"type":"array","items":{"type":"object","properties":{"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"}}}}}}}}},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"429":{"$ref":"#/components/responses/429"}}},"post":{"summary":"ContentTemplate create (mod.system)","tags":["contenttemplate"],"security":[{"bearerKeyHeader":[],"bearerKeyQuery":[],"oauth2":[]}],"operationId":"create-ContentTemplate","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"assets":{"type":"object","description":"The assets of the template"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"object","description":"Default layout coming from the creator's workspace"},"defaultLayout.company":{"type":"object","description":"Default layout coming from the creator's company"},"figma.url":{"type":"string","description":"The URL of the Figma file used for the template"},"figma.updateResources":{"type":"boolean","description":"If set to true, updates pagePreviews and assets."},"assignee":{"type":"object"},"collaborators":{"type":"object"},"tags":{"type":"object"},"publishInGallery":{"type":"boolean","description":"Indicates if the template is published in the library"},"meta":{"type":"object","description":"Metadata asociated to template."}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"workspace":{"type":"object","description":"The workspace the document belongs to."},"contentTemplateCode":{"type":"string","description":"Unique keyname used as ID","example":"example-keyname"},"contentTemplateName":{"type":"string","example":"ContentTemplate example"},"templateType":{"type":"string"},"pages":{"type":"array","items":{"type":"object"}},"html":{"type":"string"},"assets":{"type":"object","description":"The assets of the template","format":"binary"},"defaultFont":{"type":"string","description":"The default font of the template"},"secondaryFont":{"type":"string","description":"The default font of the template"},"embeddedFonts":{"type":"object","description":"Embedded fonts that will be available in the template editor and viewer","format":"binary"},"taxonomy.language":{"type":"string"},"taxonomy.category":{"type":"object","description":"The category of the template"},"defaultLayout.origin":{"type":"string","description":"Specifies the source of the default layout"},"defaultLayout.primaryWorkspace":{"type":"objec
[...]
